.cv-container {
  .employer {
    margin-bottom: 3rem;
    .short-info {
      margin-bottom: 2rem;
      float: left;
      h2.position {
        margin-bottom: 0;
      }
      h3 {
        margin-bottom: 0;
      }
    }
    .extended-info { 
      float: left;
    }
  }
}