
#masthead {
  background-color: $header-bg;
  background: $header-bg-grad;
  color: $header-fg;
  box-shadow: $default-shadow;
  position: relative;
  margin-bottom: 3rem;
  .site-branding {
    float: left;
    .site-title {
      text-align: center;
      // margin-top: 3rem;
      a {
        &:visited {
          color: $header-fg; 
        }
        
        font-size: 3rem;
    
        text-decoration: none;
      }
    }
    .site-description {
      text-align: center;
    }
  }
}
.entry-header {
  .entry-title {

  }
}